footer {
    background-color: rgb(54, 54, 54);
    width: 100%;
    color: white;
    .footer-enseigne{
      margin-left: 20px;
      margin-top: auto;
    }
    a{
      color: white;
      text-decoration: none;
    }
  }