header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 87px;
    img {
        width: 20%;
        margin: auto;
        display: flex;
        margin-top: 20px;
        margin-bottom: 10px;
      }
  }
  