    body {
        margin: 0px;
        margin: auto;
        width: 1540px;
        width: 100%;
        font-family: Roboto, sans-serif;
        main{
            background-color:rgb(247, 247, 247);
            width: 100%;
            margin: 0;
        }
        h1{
        font-family: Roboto, sans-serif;
        }
    }
    img {
        object-fit: cover;
    }
    .titre-principal img{
        padding: 15px 0 15px 0;
    }

    .index {
        display: block;
        margin-left: auto;
        margin-right: auto;
        .localisation {
            background-color: #ebe8e8;
            display: flex;
            justify-content: center;
            align-items: center;
            border-top: 1px solid #f2f2f270;
            width: 100%;
            font-size: 16px;
            border-top: #dad6d6 2px solid;
            font-weight: 500;
        }
        i {
            margin-right: 15px;
        }
    } 

    .stitre {
        background-color: #f2f2f270;
        text-align: center;
        width: 100%;
        padding-top: 40px;
        padding-bottom: 50px;
        .titre-header {
            margin: 0px 40px 0px 40px;
            margin-top: -10px;
            margin-bottom: -5px;
            font-size: 26px;
            .text-titre-header {
                font-size: 22px;
            }
        }
    } 
    .text-titre-header{
        margin: 10px 30px 0 30px;
    }
    /*****************************************
            Section fonctionnement          
    ******************************************/
    section .contenu-fonctionnement {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 35px 0 35px 0;
        .block-fonctionnement {
            margin-bottom: 30px;
        }
        .fonctionnement {
            display: flex;
            flex-direction: row;
            width: 90%;
            margin: 10px auto 30px auto;
            align-items: center;
            padding-top: 20px;
            padding-bottom: 20px;               
            height: 40px;
            border-radius: 20px;
            box-shadow: 5px 5px 5px 5px #ebe8e8;
            background-color: #f2f2f270;
            transform: scale(1);
            &:hover{
                color: $primary;
                opacity: 0.8;
                transform: scale(1.02);
            }
            .num{
                display: flex;
                background-color: $primary;
                color: white;
                border-radius: 30px;
                width: 24px;
                height: 24px;
                justify-content: center;
                align-items: center;
                margin-left: -10px;
                margin-right: 10px;
                font-size: 16px;
            }
            p {
                margin-left: 50px;
                margin-top: -20px;
                font-weight: bold;
                font-size: 16px;
            }
            
        }
        .titre-fonctionnement {
            font-size: 16px;
            margin-left: 35px;
        }
    }

    .fonctionnement i {
        display: flex;
        margin-top: 10px;
        margin-left: 10px;
        font-size: 20px;
        color: rgb(116, 116, 116);
        &:hover {
            color: $primary;
        }
    }
    .fonctionnement:hover .fa-solid{
        color: #9256dc;
    }

    /***********************************************
                Section restaurant            
    ************************************************/
    .container_restaurant {
        display: flex;
        flex-wrap: wrap;
        background-color: #f2f2f2;
        height: 100%;
        width: 100%;
        margin: auto;
        justify-content: center;
        padding-bottom: 60px;
        .block_titre_restaurant{
            width: 100%;
          }
        .full-block{
            width: 100%;
            padding-bottom: 0px;
            margin: auto;
            margin-left: -0px;
        }
            .container_restaurant_block {   
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px;
                margin: 10px;
                margin-left: -0px;
            }
                .block_restaurant {
                    display: flex;
                    background-color: white;
                    flex-direction: column;
                    width: 350px;
                    height: 250px;
                    border-radius: 20px;
                }
                h2 {
                    font-size: 32px;
                    margin-left: 55px;
                    }
                    .titre_restaurant {
                        font-size: 26px;
                        margin-left: 35px;
                    }
            }   

    .block_restaurant_img {
        width: 350px;
        height: 180px;
        background-color: white;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        display: inline-block;
        position: relative;
        .restaurant_img {
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            width: 350px;
            height: 180px;
            object-fit: cover;
        }
        .img_new {
            background: #99e2d0;
            position: absolute;
            text-align: center;
            margin: 0 auto;
            right: 6px;
            top: 8%;
            color: rgb(44, 148, 3);
            width: 25%;
            height: 17%;
            border-radius: 2px;
            font-weight: 600;
            font-size: 90%;
             p{
                margin-top: 7px;
            }
        }
    }

    .block_restaurant_info {
        display: inline-flex;
        flex-direction: column;
        width: 100%;
        text-decoration: none;
        font-size: 20px;
        .restaurant_soustitre {
            position: relative;
            left: 13px;
            bottom: 14px;
            font-weight: bold;
            color: black;
            text-decoration: none;
        }
        .restaurant_p {
            position: relative;
            left: 13px;
            bottom: 32px;
            font-weight: 300;
            margin-top: 0px;
            color: black;
            text-decoration: none;
        }
     }

    a:link,
    a:visited,
    a:hover,
    a:active {
        text-decoration: none;
    }
    
  
    
  
  