    body {
        margin: 0px;
        margin: auto;
        width: 1540px;
        width: 100%;
        font-family: Roboto, sans-serif;
        main{
            background-color:rgb(247, 247, 247);
            width: 100%;
            margin: 0;
        }
        h1{
        font-family: Shrikhand, sans-serif;
        }
    }
    img {
        object-fit: cover;
    }

    .index {
        display: block;
        margin-left: auto;
        margin-right: auto;
        .localisation {
            background-color: #ebe8e8;
            display: flex;
            justify-content: center;
            align-items: center;
            border-top: 1px solid #f2f2f2;
            width: 100%;
            font-size: 22px;
        }
        i {
            margin-right: 15px;
        }
    } 

    .stitre {
        background-color: #f2f2f2;
        text-align: center;
        width: 100%;
        padding-top: 40px;
        padding-bottom: 50px;
        .titre-header {
            margin-top: -10px;
            margin-bottom: -5px;
            font-size: 28px;
            .text-titre-header {
                font-size: 22px;
            }
        }
    } 
    
    .button {
        border: 1px solid transparent;
        background: linear-gradient(to right, $secondary, $primary);
        border-radius: 30px;
        padding: 12px 15px 12px 15px;
        text-decoration: none;
        color: white;
        font-size: 22px;
        font-weight: bold;
        box-shadow: 0.30rem 0.30rem 10px #9c9c9c;
        transform: scale(1);
        transition: transform 400ms;
        &:hover {
            background: linear-gradient($secondary, $primary);
            transform: scale(1.2);
            box-shadow: 0.50rem 0.50rem 16px #000000;
        }
    }

    /*****************************************
            Section fonctionnement          
    ******************************************/
    section .contenu-fonctionnement {
        display: flex;
        flex-direction: column;
        background-color: white;
        .block-fonctionnement {
            margin-bottom: 30px;
        }
        .fonctionnement {
            display: flex;
            flex-direction: row;
            width: 80%;
            margin: 10px auto 20px auto;
            align-items: center;
            padding-top: 15px;
            padding-bottom: 10px;               
            height: 40px;
            border-radius: 20px;
            box-shadow: 0px 3px 10px #ebe8e8;
            background-color: #f2f2f2;
            transform: scale(1);
            &:hover{
                transform: scale(1.05);
                color: $primary;
            }
            .num {
                display: flex;
                background-color: $primary;
                color: white;
                border-radius: 50px;
                width: 30px;
                height: 30px;
                justify-content: center;
                margin-left: -10px;
                margin-right: 10px;
                font-size: 24px;
            }
            p {
                margin-left: 80px;
                margin-top: -20px;
                font-weight: bold;
                font-size: 20px;
            }
        }
        .titre-fonctionnement {
            font-size: 22px;
            margin-left: 55px;
        }
    }

    .fonctionnement i {
        display: flex;
        margin-top: 15px;
        margin-left: 10px;
        font-size: 25px;
        color: rgb(116, 116, 116);
        &:hover {
            color: $primary;
        }
    }
    .fonctionnement:hover .fa-solid{
        color: #9256dc;
    }

    /***********************************************
                Section restaurant            
    ************************************************/
    .container_restaurant {
        display: flex;
        flex-wrap: wrap;
        background-color: #f2f2f2;
        height: 100%;
        h2 {
        font-size: 32px;
        margin-left: 55px;
        }
        .titre_restaurant {
            font-size: 32px;
            margin-left: 55px;
        }
    }
    
    
    .full-block{
        width: 100%;
        margin: auto;
        padding-bottom: 40px;
        .container_restaurant_block {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            .block_restaurant {
                display: flex;
                background-color: white;
                flex-direction: column;
                width: 350px;
                height: 250px;
                border-radius: 20px;
            }
        }
    }
    
    .block_restaurant_img {
        width: 350px;
        height: 180px;
        background-color: white;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        display: inline-block;
        position: relative;
        .restaurant_img {
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            width: 350px;
            height: 180px;
            object-fit: cover;
        }
        .img_new {
            background: #99e2d0;
            position: absolute;
            text-align: center;
            margin: 0 auto;
            right: 6px;
            top: 8%;
            color: rgb(56, 185, 4);
            width: 25%;
            height: 17%;
            border-radius: 2px;
            font-weight: 600;
            font-size: 90%;
             p{
                margin-top: 7px;
            }
        }
    }

    .block_restaurant_info {
        display: inline-flex;
        flex-direction: column;
        width: 100%;
        text-decoration: none;
        font-size: 20px;
        .restaurant_soustitre {
            position: relative;
            left: 13px;
            bottom: 14px;
            font-weight: bold;
            color: black;
            text-decoration: none;
        }
        .restaurant_p {
            position: relative;
            left: 13px;
            bottom: 32px;
            font-weight: 300;
            margin-top: 0px;
            color: black;
            text-decoration: none;
        }
        .heart2{
            svg{
            position: absolute;
            right: 35px;
            top: -15px;
            overflow: visible;
            }
            path{
              stroke: black;
              stroke-width: 2px;
              stroke-opacity: 1;
              fill-opacity: 0;
              fill: url(#gradient1);
              transition: all 1s ease-in-out;
            }
            path:hover{
              fill-opacity: 1;
              stroke-opacity: 0;
            }
        
          }
    }

    a:link,
    a:visited,
    a:hover,
    a:active {
        text-decoration: none;
    }
    
  
    
  
  