main {
  background-color: rgb(230, 225, 225);
}

.titre1-principal img {
    width: 18%;
    height: 70px;
  }
  
  header {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  /********************
        Menu           
  *********************/
  main .fond img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  .container_titre_page{
    .titre_page{
      margin-left: 50px;
      display: flex;
      flex-direction: row;
    }
    svg{
      position: absolute;
      right: 3%;
    }
  }

  h3{
    margin-left: 8%;
  }

  .heart1{
    svg{
      overflow: visible;
    }
    path{
      stroke: black;
      stroke-width: 2px;
      stroke-opacity: 1;
      fill-opacity: 0;
      fill: url(#gradient1);
      transition: all 1s ease-in-out;
    }
    path:hover{
      fill-opacity: 1;
      stroke-opacity: 0;
    }

  }

  .section_carte {
    bottom: 52px;
    width: 100%;
    margin: auto;
    .ensemble-carte{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin: auto;
      margin-bottom: 50px;
    }
    .block1{
      width: 30%;
      margin:auto
    }
    .container_bloc_carte {
      width: 32px;
      position: relative;
      left: 8%;
      top: 10px;
      margin-bottom: 30px;
      border-bottom: 3px solid $tertiary;
      padding-bottom: 5px;
      font-size: 100%;
      font-weight: 500;
    }
  }

  .bloc_carte {
    display: flex;
    background-color: white;
    border-radius: 15px;
    width: 100%;
    height: 70px;
    margin: auto;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px rgb(158, 157, 157);
    .titre_carte {
      width: 100%;
      margin-top: 15px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .prix {
      position: relative;
      top: 18px;
      font-size: 16px;
      margin-right: 2%;
      font-weight: bold;
    }
    .prix_select {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 20px;
    }
  }  

  .bloc_carte:hover .titre_carte{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .button:hover {
    background: linear-gradient($secondary,$primary);
  }

  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  