/********************** Loader *********************/

@keyframes loader_page {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes tourner {
    to {
      transform: rotate(360deg);
    }
  }

  .loader {
    display: grid;
    place-items: center;
    position: fixed;
    background-color: rgb(240, 238, 238);
    color: #854dca;
    height: 100vh;
    inset: 0;
    z-index: 1;
    opacity: 0.9;
    animation: loader_page 0s forwards;
    animation-delay: 1s;
    transform-origin: top;
    i {
        animation: tourner 1s infinite linear;
      }
  }
  
  
  /*************Slide left menu page restaurants*************/


 
  @keyframes rotation {
    to {
      transform: rotate(360deg);
    }
  }

  .slide-left {
    display: flex;
    border-radius: 0px 15px 15px 0px;
    .fa-check {
      opacity: 0;
        border: 2px solid white;
        border-radius: 30px;
        background-color: white;
        color: #99e2d0;
      }
  }
  .bloc_carte:hover .slide-left{
    animation: slide-left 5.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    background-color: #99e2d0;
    padding: 30px;
    transition-duration: 1s;
  }
 
  
  .bloc_carte:hover .slide-left i{
    opacity: 1;
    transition-duration: 1s;
    animation: rotation 1s;
  }

  /****************Apparition du menu  ***************/

.time-0{
    animation: apparition 0.2s;
  }
  .time-1{
    animation: apparition 0.4s;
  }
  .time-2{
    animation: apparition 0.6s;
  }
  .time-3{
    animation: apparition 0.7s;
  }
  .time-4{
    animation: apparition 1s;
  }
  .time-5{
    animation: apparition 1.2s;
  }
  .time-6{
    animation: apparition 1.4s;
  }
  .time-7{
    animation: apparition 1.6s;
  }
  .time-8{
    animation: apparition 1.8s;
  }
  
  
  @keyframes apparition {
    0% {
      opacity: 1;
      transform: translateY(0%);
      
    }
    100% {
      opacity: 0;
      transform: translateY(-30%);
      animation-delay: 1.8s;
    }
  }