/********************************************************************
                       Media Queries
*********************************************************************/
  @media screen and (min-width: 992px) {
    body {
      margin: 0;
      margin: auto;
      height: 100%;
      width: 50%;
    }
    .full-block{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .container_restaurant_block{
      margin: 20px;
    }
    .fa-arrow-left {
      position: absolute;
      top: 25px;
      left: 27%;
      margin: auto;
      font-size: 160%;
      color: black;
    }
    .titre_carte_bloc {
      position: relative;
      left: 10px;
    }
  
    h4 {
      font-size: 1.06rem;
      bottom: 20px;
    }
  
    .sous {
      bottom: 40px;
    }
  
    .fa-check {
      padding: 5px;
      width: 20px;
      height: 20px;
      border-radius: 20px;
    }
    .full_block{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
  }
  
  @media screen and (max-width: 992px) {
    .fa-arrow-left {
      margin: auto;
      font-weight: 900;
      color: black;
      position: absolute;
      top: 25px;
      left: 6%;
      font-size: 130%;
    }

    .section_carte{
      width: 100%;
    }

    .container_bloc_carte{
      width: 10%;
    }
  
    h4 {
      font-size: 1.06rem;
      position: relative;
      bottom: 23px;
    }
  
    .sous {
      font-size: 0.92rem;
      position: relative;
      bottom: 42px;
    }
  }
  
  

  